<div [id]="domId" class="modal fade" role="dialog" aria-labelledby="permissions-editor-title">
	<div class="modal-dialog" role="document">
		<form class="form modal-content" (ngSubmit)="onSubmit()">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 id="permissions-editor-title">Edit permissions</h4>
			</div>
			<div class="modal-body">
				<section *ngIf="item">
					<header class="section-header">Permissions</header>
					<table>
						<thead>
							<tr>
								<th></th>
								<th>Read</th>
								<th *ngIf="isProperty()">Write</th>
								<th *ngIf="isVerb()">Execute</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>User</th>
								<td>
									<input type="checkbox" name="canUserRead" [(ngModel)]="item.permsEffective.canUserRead" />
								</td>
								<td>
									<input *ngIf="isProperty()" type="checkbox" name="canUserWrite" [(ngModel)]="item.permsEffective.canUserWrite" />
									<input *ngIf="isVerb()" type="checkbox" name="canUserExecute" [(ngModel)]="item.permsEffective.canUserExecute" />
								</td>
							</tr>
							<tr>
								<th>Group</th>
								<td>
									<input type="checkbox" name="canGroupRead" [(ngModel)]="item.permsEffective.canGroupRead" />
								</td>
								<td>
									<input *ngIf="isProperty()" type="checkbox" name="canGroupWrite" [(ngModel)]="item.permsEffective.canGroupWrite" />
									<input *ngIf="isVerb()" type="checkbox" name="canGroupExecute" [(ngModel)]="item.permsEffective.canGroupExecute" />
								</td>
							</tr>
							<tr>
								<th>Other</th>
								<td>
									<input type="checkbox" name="canUserRead" [(ngModel)]="item.permsEffective.canUserRead" />
								</td>
								<td>
									<input *ngIf="isProperty()" type="checkbox" name="canOtherWrite" [(ngModel)]="item.permsEffective.canOtherWrite" />
									<input *ngIf="isVerb()" type="checkbox" name="canOtherExecute" [(ngModel)]="item.permsEffective.canOtherExecute" />
								</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section *ngIf="item">
					<header class="section-header">Metadata</header>
					<div class="checkbox">
						<label>
							<input type="checkbox" name="isSticky" [(ngModel)]="item.permsEffective.isSticky" /> Sticky
						</label>
					</div>
				</section>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-primary">OK</button>
			</div>
		</form>
	</div>
</div>
