<form class="container form-horizontal">
	<div class="row">
		<aside *ngIf="asAdmin" class="admin-banner monospace text-danger col-sm-12"><span aria-hidden="true">/* </span>editing as admin<span aria-hidden="true"> */</span></aside>
	</div>
	<section *ngFor="let propertiesOfType of [ properties, intrinsics ]">
		<header class="section-header col-sm-12">
			<span *ngIf="!isIntrinsic(propertiesOfType[0])">Properties</span>
			<span *ngIf="isIntrinsic(propertiesOfType[0])">Intrinsic properties</span>
		</header>
		<div *ngFor="let property of propertiesOfType" class="form-group" [class.draft]="property.isDraft" [class.inherited]="!isIntrinsic(property) && isInherited(property)">
			<label class="control-label col-sm-2" [attr.for]="property.name">
				{{property.name}}
				<span *ngIf="!isIntrinsic(property) && isInherited(property) && !property.isDraft" class="status-label">(from #{{property.id}})</span>
				<span *ngIf="property.isDraft" class="status-label">(draft)</span>
			</label>
			<div *ngIf="!property.blobType" class="input-group col-sm-10">
				<input class="form-control" type="text" [id]="property.name" [name]="property.name" [ngModel]="property.value" (ngModelChange)="onChange(property, $event)" />
				<span class="input-group-btn">
					<button *ngIf="property.isDraft" class="btn btn-default" type="button" (click)="deleteDraft(property)" title="Discard draft" aria-label="Discard draft">
						<span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
					</button>
					<button *ngIf="!property.isDraft && !isIntrinsic(property)" class="btn btn-default" type="button" (click)="delete(property)" title="Remove property" aria-label="Remove property">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					</button>
					<button class="btn btn-default" type="button" (click)="save(property)" title="Save property" aria-label="Save property">
						<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
					</button>
				</span>
			</div>
			<div *ngIf="property.blobType == 'audio'" class="col-sm-10">
				<audio-property-editor [property]="property" (propertyChange)="onChange(property, $event)" (deleteDraftClick)="deleteDraft(property)" (deleteClick)="delete(property)" (saveClick)="save(property)"></audio-property-editor>
			</div>
			<div *ngIf="property.blobType == 'image'" class="col-sm-10">
				<image-property-editor [property]="property" (propertyChange)="onChange(property, $event)" (deleteDraftClick)="deleteDraft(property)" (deleteClick)="delete(property)" (saveClick)="save(property)"></image-property-editor>
			</div>
		</div>
	</section>
	<div class="form-group">
		<div class="col-sm-12 text-right">
			<button *ngIf="!asAdmin && canHasAdmin()" class="btn btn-danger" type="button" (click)="reloadAsAdmin()">Edit as admin</button>
			<button class="btn btn-success" type="button" (click)="newDraftPrompt()">New property</button>
			<button class="btn btn-primary" type="button" (click)="saveAll()">Save all properties</button>
		</div>
	</div>
</form>
<new-property (confirm)="newDraft($event)"></new-property>
{{message}}<br />
