<form class="container form-horizontal">
	<div class="row">
		<aside *ngIf="asAdmin" class="admin-banner monospace text-danger col-sm-12"><span aria-hidden="true">/* </span>editing as admin<span aria-hidden="true"> */</span></aside>
	</div>
	<section *ngFor="let propertiesOfType of [ properties, intrinsics ]">
		<header class="section-header col-sm-12">
			<span *ngIf="!propertiesOfType[0].isIntrinsic">Properties</span>
			<span *ngIf="propertiesOfType[0].isIntrinsic">Intrinsic properties</span>
		</header>
		<div *ngFor="let property of propertiesOfType" class="form-group" [class.draft]="property.isDraft" [class.inherited]="!property.isIntrinsic && isInherited(property)">
			<label class="control-label col-sm-2" [attr.for]="property.name">
				{{property.name}}
				<span *ngIf="!property.isIntrinsic && isInherited(property) && !property.isDraft" class="status-label">(from #{{property.sourceId}})</span>
				<span *ngIf="property.isDraft" class="status-label">(draft)</span>
			</label>
			<div *ngIf="!property.isBlob" class="col-sm-10">
				<text-property-editor [admin]="asAdmin" [property]="property" [wobId]="wobId" (propertyChange)="onChange($event, property)" (propertyDelete)="onDelete($event)"></text-property-editor>
			</div>
			<div *ngIf="property.isAudio" class="col-sm-10">
				<audio-property-editor [admin]="asAdmin" [property]="property" [wobId]="wobId" (propertyChange)="onChange($event, property)" (propertyDelete)="onDelete($event)"></audio-property-editor>
			</div>
			<div *ngIf="property.isImage" class="col-sm-10">
				<image-property-editor [admin]="asAdmin" [property]="property" [wobId]="wobId" (propertyChange)="onChange($event, property)" (propertyDelete)="onDelete($event)"></image-property-editor>
			</div>
		</div>
	</section>
	<div class="form-group">
		<div class="col-sm-12 text-right">
			<button *ngIf="!asAdmin && canHasAdmin()" class="btn btn-danger" type="button" (click)="reloadAsAdmin()">Edit as admin</button>
			<button class="btn btn-success" type="button" (click)="newDraftPrompt()">New property</button>
			<button class="btn btn-primary" type="button" (click)="saveAll()">Save all properties</button>
		</div>
	</div>
</form>
<new-property (confirm)="newDraft($event)"></new-property>
{{message}}<br />
