.admin-banner {
	position: absolute;
	top: 0;
	right: 0;
}
.btn-header {
	color: #cccccc;
}
.btn-header:before {
	content: "[ ";
}
.btn-header:after {
	content: " ]";
}
.btn-header:hover .glyphicon:before {
	/* Glyphicons use :before content, so they are normally not subject to the
	 * container element's underline. Here we specifically underline the
	 * :before content.
	 */
	text-decoration: underline;
}
.btn-verbform {
	color: #cccccc;
	margin-left: 0;
	padding: 0;
}
.btn-verbform:before {
	content: "[";
}
.btn-verbform:after {
	content: "]";
}
.comment-bar {
	height: 1em;
}
.editor-container {
	background-color: #272822; /* match ace editor theme */
	border: 1px solid #cccccc;
	margin-bottom: 0.9em;
	min-height: 200px;
	overflow: scroll;
	position: relative;
	resize: vertical;
}
.editor-container .ace_editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 10px; /* margin for resize handle of container */
	left: 0;
}
.editor-container >>> button,
.editor-container >>> input {
	color: black; /* avoid white-on-white inside ace search box */
}
.verbforms {
	margin-bottom: 0.9em;
}
.verbform .signature {
	margin-left: 0;
	padding: 0;
}
.verbform .verb {
	color: #ef2929;
}
.verbform .object {
	color: #fcaf3e;
}
.verbform .preposition {
	color: #8ae234;
}
.verbform .indirect-object {
	color: #ad7fa8;
}
