<div class="container">
	<div class="row">
		<aside *ngIf="asAdmin" class="admin-banner monospace text-danger col-sm-12"><span aria-hidden="true">/* </span>editing as admin<span aria-hidden="true"> */</span></aside>
	</div>
	<div class="row">
		<ul class="item-list col-sm-2" [style.min-height]="(itemDetail.clientHeight + 2) + 'px'" #itemList>
			<li *ngFor="let verb of verbs | keyvalue" [class.draft]="verbDrafts[verb.key]" [class.inherited]="isInherited(verb)" [class.selected]="selectedVerb && verb.value.name == selectedVerb.name">
				<a [routerLink]="[ { verb: verb.value.name } ]">{{verb.value.name}}</a>
			</li>
			<span *ngFor="let verb of verbDrafts | keyvalue">
				<li *ngIf="!verbs[verb.value.name]" class="draft" [class.selected]="selectedVerb && verb.value.name == selectedVerb.name">
					<a [routerLink]="[ { verb: verb.value.name } ]">{{verb.value.name}}</a>
				</li>
			</span>
			<li class="plus"><a (click)="addVerb()">+</a></li>
		</ul>
		<form class="form item-detail col-sm-10" [style.min-height]="itemList.clientHeight + 'px'" #itemDetail>
			<section *ngIf="selectedVerb" class="verbforms">
				<header class="section-header">
					Signatures
					<div class="btn-group" role="group">
						<button class="btn btn-link btn-header" type="button" title="Discard signature drafts" aria-label="Discard signature drafts" (click)="deleteSigsDraft()"><span class="glyphicon glyphicon-erase"></span></button>
						<button class="btn btn-link btn-header" type="button" title="Save signatures" aria-label="Save signatures" (click)="saveSigs()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
					</div>
				</header>
				<div class="verbform" *ngFor="let sig of compositeVerb.sigs">
					<button class="btn btn-link btn-verbform" title="Remove verbform" type="button" aria-label="Remove verbform" (click)="removeSignature(sig)"><span aria-hidden="true">-</span></button>
					<button class="btn btn-link signature" type="button" title="Edit verbform" (click)="editSignature(sig)">
						<span class="sr-only">Edit verbform</span>
						<span *ngFor="let word of sig.split(' '); let i = index">
							<span [ngSwitch]="i">
								<span *ngSwitchCase="0" class="verb">{{word}}</span>
								<span *ngSwitchCase="1" class="object">{{word}}</span>
								<span *ngSwitchCase="2" class="preposition">{{word}}</span>
								<span *ngSwitchCase="3" class="indirect-object">{{word}}</span>
								<span *ngSwitchCase="4" class="preposition">{{word}}</span>
								<span *ngSwitchCase="5" class="indirect-object">{{word}}</span>
							</span>
						</span>
					</button>
				</div>
				<button class="btn btn-link btn-verbform" type="button" title="Add verbform" aria-label="Add verbform" (click)="addSignature()"><span aria-hidden="true">+</span></button>
			</section>
			<section>
				<header class="section-header">
					Code
					<div class="btn-group" role="group">
						<button class="btn btn-link btn-header" type="button" title="Discard code drafts" aria-label="Discard code drafts" (click)="deleteCodeDraft()"><span class="glyphicon glyphicon-erase"></span></button>
						<button class="btn btn-link btn-header" type="button" title="Save code" aria-label="Save code" (click)="saveCode()"><span class="glyphicon glyphicon-floppy-disk"></span></button>
					</div>
				</header>
				<div class="editor-container">
					<div id="editor"></div>
				</div>
			</section>
			<div class="form-group">
				<div class="col-sm-12 text-right">
					<button *ngIf="!asAdmin && canHasAdmin()" class="btn btn-danger" type="button" (click)="reloadAsAdmin()">Edit as admin</button>
					<button class="btn btn-success" type="button" (click)="newDraft()">New verb</button>
					<button class="btn btn-primary" type="button" (click)="saveVerb()">Save verb</button>
				</div>
			</div>
		</form>
	</div>
</div>
<verbform-editor (save)="onSignatureChange($event)"></verbform-editor>
{{message}}<br />
