body {
	background-color: #222222;
}
textarea {
	resize: vertical;
}
.inherited label:after,
.draft label:after {
	font-size: 0.7em;
	font-weight: normal;
	white-space: pre-wrap;
}
.inherited {
	color: #7F7F7F;
}
.inherited input.form-control[type=text],
.inherited .input-group-btn button {
	border-color: #7F7F7F;
}
/*.inherited .input-group-btn button {
	color: #a8a8a8;
}*/
.draft {
	color: #e06e0b;
}
.draft input.form-control[type=text],
.draft .input-group-btn button {
	border-color: #e06e0b;
}
/*.draft .input-group-btn button {
	color: #f4831f;
}*/
@media(max-width: 767px) {
	.inherited label:after {
		content: ' (inherited)';
	}
	.draft label:after {
		content: ' (draft)';
	}
}
@media(min-width: 768px) {
	.inherited label:after {
		content: '\A(inherited)';
	}
	.draft label:after {
		content: '\A(draft)';
	}
}
