node_modules/
typings/

# JavaScript files and maps compiled from TypeScript
# (run tsc to create these files)
app/*.js
app/*.js.map
app/*/*.js
app/*/*.js.map

# Local changes only
app/config.ts

# Finder metadata
.DS_Store
