/* Site-wide look and feel */
body {
	background-color: black;
	color: #cccccc;
	font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
}
.brand {
	font-family: Consolas, Monaco, "Liberation Mono", Fixed, monospace;
}
.brand.primary {
	color: #7F78C6;
	font-size: 1.2em;
}
.brand.secondary {
	color: #7FD039;
	font-size: 0.9em;
}
.pre {
	white-space: pre-wrap;
}

/* Splash screen */
#splash {
	position: absolute;
	top: calc(50% - 240px);
	left: 0;
	background-image: url("image/logo.png");
	background-position: center top;
	background-repeat: no-repeat;
	color: #999999;
	padding-top: 320px;
	text-align: center;
	width: 100%;
	z-index: 1000;
}
#splash.remove {
	transition: all 1.5s ease-out 0.5s;
	-webkit-filter: brightness(200%) contrast(400%);
	filter: brightness(200%) contrast(400%);
	opacity: 0;
}
#splash.remove h1 {
	transition: all 1.5s ease-out 0.5s;
	-webkit-filter: brightness(50%);
	filter: brightness(50%);
}
#splash.remove h2 {
	transition: all 0.5s;
	opacity: 0;
}

/* Bootstrap popovers */
.popover {
	background-color: #333333;
	padding: 0;
}
.popover .arrow {
    background-color: black;
}
.popover .popover-title {
    background-color: #494949;
	color: white;
	margin: 0;
}
.popover .popover-content {
    background-color: #333333;
    color: white;
}
.popover .popover-content img {
    max-width: 100%;
}
.popover.top > .arrow:after {
	border-top-color: #333333;
}
.popover.bottom > .arrow:after {
	border-bottom-color: #494949;
}

/* Bootstrap tooltips */
.tooltip .tooltip-inner {
	background-color: #333333;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #333333;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #333333;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #333333;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #333333;
}

/* Form controls */
.control-label {
	font-family: Consolas, Monaco, "Liberation Mono", Fixed, monospace;
}
.form-control[type=text],
.form-control[type=password],
.btn {
	background-color: #222222;
	border: 1px solid #cccccc;
	border-radius: 0;
	box-shadow: 0.75em 1em 0 black;
	color: #cccccc;
	font-family: Consolas, Monaco, "Liberation Mono", Fixed, monospace;
	margin-bottom: 0.9em;
}
.form-control[type=text]:disabled,
.form-control[type=password]:disabled {
	border-style: dashed;
	box-shadow: none;
}
.form-control[type=text]:focus,
.form-control[type=password]:focus {
	background-color: #cccccc;
	color: black;
}
.btn {
	margin-left: 12px;
}
.btn.btn-default:focus,
.btn.btn-default:hover {
	background-color: #cccccc;
	color: black;
}
.btn.btn-primary {
	border-color: #2e6da4;
	/*color: #4280b7;*/
}
.btn.btn-success {
	border-color: #4cae4c;
	/*color: #64c164;*/
}
.btn:hover,
.btn:focus {
	color: #cccccc;
}
.form-control {
	z-index: 0;
}
.input-group-btn {
	z-index: 10;
}
@media(max-width: 767px) {
	.input-group {
		padding: 0 1em !important;
	}
}
@media(min-width: 768px) {
	.input-group {
		padding-right: 1em !important;
	}
}
