/* Master Styles */
h1 {
	color: #369;
	font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
	font-size: 250%;
}
h2, h3 {
	color: #444;
	font-family: "Liberation Sans", Arial, Helvetica, sans-serif;
	font-weight: lighter;
}
body {
	background-color: black;
	margin: 0;
}
body, input[text], button {
	color: #888;
	font-family: Cambria, Georgia;
}

/* Whitespace between adjacent inline elements is collapsed into a single
 * space. That single space is in addition to any spaces embedded within .pre
 * elements, and may cause unintended extra spaces to appear between chunks of
 * server output.
 *
 * This can be addressed by displaying adjacent .pre elements as inline-block
 * instead of inline.
 */
.pre-container {
	display: inline-block;
}
.pre {
	display: inline-block;
	white-space: pre-wrap;
}
.popover {
	background-color: #333333;
}
.popover .arrow {
    background-color: black;
}
.popover .popover-title {
    background-color: #555555;
	border-bottom-color: #333333;
	color: white;
}
.popover .popover-content {
    background-color: #333333;
    color: white;
}
.popover.top > .arrow:after {
	border-top-color: #333333;
}
.tooltip .tooltip-inner {
	background-color: #333333;
}
.tooltip.top .tooltip-arrow {
	border-top-color: #333333;
}
.tooltip.right .tooltip-arrow {
	border-right-color: #333333;
}
.tooltip.bottom .tooltip-arrow {
	border-bottom-color: #333333;
}
.tooltip.left .tooltip-arrow {
	border-left-color: #333333;
}
