<span [ngSwitch]="chunk.type"><!--
	--><span id="{{tag}}" *ngSwitchCase="'image'" class="{{chunk.type}}" [style.float]="chunk.interactive.float"><!--
		--><embed-media [type]="'image'" [url]="chunk.interactive.url" [alt]="chunk.interactive.alt" (load)="onLayout($event)"></embed-media><!--
	--></span><!--
	--><span id="{{tag}}" *ngSwitchCase="'wob'" class="{{chunk.type}} pre" data-toggle="popover" data-trigger="manual" (mouseover)="showPopover()" (mouseout)="hidePopover()">{{chunk.text}}</span><!--
--></span><!--
--><embed-media [hidden]="true" [type]="'image'" [url]="popoverImageUrl" (load)="setPopoverImage($event)"></embed-media>