.terminal {
	background-color: black;
	color: #eeeeee;
	font-family: Consolas, Monaco, "Liberation Mono", Fixed, monospace;
	font-size: 12pt;
	width: 100%;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: scroll;
}
.terminal td {
	vertical-align: top;
}
.terminal .history {
	color: #999999;
}
.terminal .history .command {
	color: #559955;
}
.terminal .pre {
	white-space: pre-wrap;
}
.terminal .cursor {
	background-color: #eeeeee;
	color: black;
}
.terminal .left-margin {
	border-right: 1px solid #666666;
	padding-right: 10px;
}
.terminal .main-content {
	padding-left: 10px;
}
.terminal .wob {
	color: #55aaaa !important;
	text-decoration: underline;
}
