<div [id]="domId" class="terminal" (window:keydown)="onKey($event)">
	<table>
		<tbody>
			<tr class="history" *ngFor="let line of scrollback">
				<td class="left-margin">
					<span data-toggle="tooltip" data-placement="right" title="{{line.timestamp | date:'medium'}}">{{line.timestamp | date:"HH:mm"}}</span>
				</td>
				<td class="main-content">
					<span *ngFor="let chunk of line.chunks"><interactive-chunk *ngIf="chunk.interactive" [chunk]="chunk"></interactive-chunk><span class="{{chunk.type}} pre" *ngIf="!chunk.interactive">{{chunk.text}}</span></span>
				</td>
			</tr>
			<tr class="input">
				<td class="left-margin"></td>
				<td class="main-content">
					<span class="prompt pre">{{prompt}}</span><span class="pre">{{inputLeft}}</span><span class="cursor pre">{{inputCursor}}</span><span class="pre">{{inputRight}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
