<div [id]="domId" class="terminal" (window:keydown)="onKey($event)">
	<table>
		<tbody>
			<tr class="history" *ngFor="let line of scrollback">
				<td class="left-margin">
					{{line.timestamp | date:"HH:mm"}}
				</td>
				<td class="main-content">
					<span *ngFor="let chunk of line.chunks">
						<span *ngIf="chunk.url"><a href="{{chunk.url}}" class="{{chunk.type}} pre">{{chunk.text}}</a></span><span class="{{chunk.type}} pre" *ngIf="!chunk.url">{{chunk.text}}</span>
					</span>
				</td>
			</tr>
			<tr class="input">
				<td class="left-margin"></td>
				<td class="main-content">
					<span class="prompt pre">{{prompt}}</span><span class="pre">{{inputLeft}}</span><span class="cursor pre">{{inputCursor}}</span><span class="pre">{{inputRight}}</span>
				</td>
			</tr>
		</tbody>
	</table>
</div>
